<div class="body">
  <div class="content">
    <div class="nav_bar">
      <ul class="nav_bars">
      </div>
      <div class="content_sign_up">

        <div class="popular">
        </div>
        <div class="kara">
        </div>
        <div clss="content3">


         <p class="red">ボケてアカウント情報更新</p>
         <br/>
         <p class="login_info">ボケてでは色々な人に「ボケて」もらって「評価」してもらいたいと思っています。<br/>
           投稿したボケが、誰かの辛い時間を楽しい時間に変えることもできるし、面白い！と思うボケにコメントしたことが<br>ボケ投稿者をハッピーにすることが出来ます。<br>
           <br>
           ボケては完全に無料で利用でき、アカウントを作成すればPCサイトだけでなくスマホサイトやiOSアプリ、Android<br>アプリでも楽しめます。
           ボケてに登録してみんなを楽しい気持ちにしてください。</p>

           <div class="content_sign_ups">

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <div class="user_set_bolder"></div>
            <div class="field">
              <%= f.label :お名前 ,class:"user_set"%> <em>(6文字以内でお願いします。)</em><br />
              <%= f.text_field :name, autofocus: true, maxlength: "6" ,class:"user_set_text"%>
            </div>

            <div class="field">
              <%= f.label :メールアドレス,class:"user_set" %><br />
              <%= f.email_field :email, autofocus: true ,class:"user_set_text"%>
            </div>

            <div class="field">
              <%= f.label :パスワード ,class:"user_set"%>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %>文字以上でお願いします。)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off",class:"user_set_text" %>
            </div>

            <div class="field">
              <%= f.label :もう一度パスワードを入力してください,class:"user_set" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off",class:"user_set_text" %>
            </div>

            <div class="field">
              <%= f.label :生年月日（西暦） ,class:"user_set"%><br />
              <%= f.text_field :year, autofocus: true, maxlength: "4" ,class:"birth_year"%>年
              <%= f.text_field :month, autofocus: true, maxlength: "4" ,class:"birth_month"%>月
              <%= f.text_field :day, autofocus: true, maxlength: "4" ,class:"birth_month"%>日
            </div>

            <div class="field sex-field">
              <%= f.label :性別,class:"user_set" %><br />
              <label><%= f.radio_button :sex, "男" ,class: "sex_box" %>男</label>
              <label><%= f.radio_button :sex, "女" ,class: "sex_boxs" %>女</label>
              <label><%= f.radio_button :sex, "オカマ" ,class: "no_sex_box" %>オカマ</label>
            </div>



            <div class="field">
              <%= f.label :何かひとこと ,class:"user_set"%> <em>(10文字以内でお願いします。)</em><br />
              <%= f.text_field :text, autofocus: true, maxlength: "10" ,class:"user_set_text"%>
            </div>

            <div>
              <%= f.submit "新規登録", class:"user_set_btn" %>
            </div>
            <% end %>

          </div>

        </div>

      </div>

    </div>
    <footer>
      <p class="footer">Copyright(C) boketemasun.</p>
    </footer>
  </div>