<div class="body">
<div class="content">
<div class="content2">
<div class="popular">
</div>
<div class="kara">
</div>
<div clss="content3">
<div class="reds">
<%= link_to new_theme_path do %>
  <%= image_tag "1.jpg", class: "new_gazou" %>
<% end %>

<%= link_to new_theme_path do %>
  <%= image_tag "2.jpg", class: "new_gazou" %>
<% end %>

<%= link_to new_theme_path do %>
  <%= image_tag "3.jpg", class: "new_gazou" %>
<% end %>

<%= link_to new_theme_path do %>
  <%= image_tag "6.jpg", class: "new_gazou" %>
<% end %>

<%= link_to new_theme_path do %>
  <%= image_tag "7.jpg", class: "new_gazou" %>
<% end %>

</div>
</div>

</div>

<%= link_to root_path do %>
  <%= image_tag "gazou.png", class: "gazous" %>
<% end %>

<%= link_to root_path do %>
  <%= image_tag "gazou2.png", class: "gazouss" %>
<% end %>


</div>
   <footer>
      <p class="footer">Copyright(C) boketemasun.</p>
    </footer>
</div>