<div class="body">


  <div class="content">
    <div class="nav_bar">
      <ul class="nav_bars">
        <li class="nav_bars1"><%=link_to'トップ' ,root_path,class:"navz"%></li>
        <li class="nav_bars1"><%=link_to'注目' ,root_path,class:"navz"%></li>
        <li class="nav_bars1"><%=link_to'人気' ,root_path,class:"navz"%></li>
        <li class="nav_bars1"><%=link_to'コラボ' ,root_path,class:"navz"%></li>
        <li class="nav_bars1"><%=link_to'セレクト' ,root_path,class:"navz"%></li>

        <li class="nav_bars1"><%=link_to'お題投稿' ,photo_index_path,class:"navz"%></li>
      </ul>
    </div>
    <div class="new_content">
      <div class="popular">
      </div>
      <div class="kara">
      </div>
      <div clss="content3">


        <% if @theme.errors.any? %>
        <div class="error_explanation">
          <h2><%= @theme.errors.count %>件のエラーがあります。</h2>
          <ul>
            <p class="error">投稿をしたい画像は投稿して問題がないか確認の上、チェックボタンにチェックしてください。</p>
          </ul>
        </div>
        <% end %>

        <p class="red">手持ちの写真からお題を投稿する</p>
        <div class="reds">

          <%= form_for @theme do |f| %>
          <P class="image_toukou_info"> </P>
          <p class="toukou_preview"> <img id="img_prev"  src="#" > </p>


          <script type="text/javascript">
            $(function() {
              function readURL(input) {
                if (input.files && input.files[0]) {
                  var reader = new FileReader();

                  reader.onload = function (e) {
                    $('#img_prev').attr('src', e.target.result);
                  }
                  reader.readAsDataURL(input.files[0]);
                }
              }

              $(".a").change(function(){
                $('#img_prev').removeClass('hidden');
                readURL(this);
              });
            });
          </script>

          <div class=" check_info" >    
            <p class="check_infos">著作権・肖像権の侵害に当たる画像や暴力的、卑猥な画像の投稿は禁止しております。
              <br>投稿をしたい画像は投稿して問題がないか今一度考えて投稿しましょう。</p>
            </div>

            　
            <div class="check">  <%= f.check_box :agreement,class:"checkbox"%>
              <p class="check2"> 上記の規約に同意して投稿します。</p></div>



              <%= f.label :image  do%>
              <div class="image_toukou_btn2"><p class="image_toukou_btn_in">1.ファイルを選択</p></div>
              <%= f.file_field :image, style: "display:none;" ,class:"a" %>
              <% end %>


              <input type="submit" name="image" value="2.ファイルをアップロード" class="image_toukou_btn3" >
            </label>

            <% end %>



          </div>
        </div>

      </div>
      


      <%= link_to root_path do %>
      <%= image_tag "gazou.png", class: "gazous" %>
      <% end %>

      <%= link_to root_path do %>
      <%= image_tag "gazou2.png", class: "gazouss" %>
      <% end %>


    </div>
    <footer>
      <p class="footer">Copyright(C) boketemasun.</p>
    </footer>
  </div>