<div class="body">
  <div class="content">
    <div class="nav_bar">
<ul class="nav_bars">
  <li class="nav_bars1"><%=link_to'トップ' ,root_path,class:"navz"%></li>
   <li class="nav_bars1"><%=link_to'注目' ,root_path,class:"navz"%></li>
    <li class="nav_bars1"><%=link_to'人気' ,root_path,class:"navz"%></li>
  <li class="nav_bars1"><%=link_to'コラボ' ,root_path,class:"navz"%></li>
  <li class="nav_bars1"><%=link_to'セレクト' ,root_path,class:"navz"%></li>

<li class="nav_bars1"><%=link_to'お題投稿' ,root_path,class:"navz"%></li>
</ul>
    </div>
    <div class="new_content">
      <div class="popular">
      </div>
      <div class="kara">
      </div>
      <div clss="content3">


        <p class="red">面白いボケがつきそうな写真探して投稿してみよう！</p>
        <div class="reds">
          <%= link_to new_theme_path do %>
          <%= image_tag "image_toukou.png", class: "image_toukou" %>
          <% end %>

          <%= form_tag(new_theme_path, method: :get) do %>
     <P class="image_toukou_info"> 自分の持ってる写真をボケてにアップロードしてお題に設定できます。</P>
          <input type="submit" value="手持ちの写真をお題に" class="image_toukou_btn">
          <% end %>



        </div>
      </div>

    </div>

    <%= link_to root_path do %>
    <%= image_tag "gazou.png", class: "new_gazous" %>
    <% end %>

    <%= link_to root_path do %>
    <%= image_tag "gazou2.png", class: "new_gazouss" %>
    <% end %>


  </div>
  <footer>
    <p class="footer">Copyright(C) boketemasun.</p>
  </footer>
</div>