<div class="body">
  <div class="content">
    <div class="nav_bar">
      <ul class="nav_bars">
        <li class="nav_bars1"><%=link_to'トップ' ,root_path,class:"navz"%></li>
        <li class="nav_bars1"><%=link_to'注目' ,root_path,class:"navz"%></li>
        <li class="nav_bars1"><%=link_to'人気' ,root_path,class:"navz"%></li>
        <li class="nav_bars1"><%=link_to'コラボ' ,root_path,class:"navz"%></li>
        <li class="nav_bars1"><%=link_to'セレクト' ,root_path,class:"navz"%></li>

        <li class="nav_bars1"><%=link_to'殿堂入り' ,root_path,class:"navz"%></li>
      </ul>
    </div>
    <div class="content2">
      <div class="kara">
      </div>
      <div clss="content3">
        <div class="reds">
          <p class="red">人気のボケ</p>
          <%= link_to root_path do %>
          <%= image_tag "red.jpg", class: "gazou" %>
          <% end %>
          <p class="odai">床に落とした麺をワイルドそうなネーミングを加えて客に出した</p>
        </div>

        <div class="reds">
          <p class="red">注目のボケ</p>
       <% @answers.each do |i|%>
          <% if i.theme.image? %>

          <div class="root_toukou_image_set"><%= image_tag  i.theme.image, class: "root_toukou_image" %>

            <p class="root_answer_toukou_user">ボケ投稿者:<%= i.user.name %>っち|お題投稿者:<%= i.theme.user.name%>っち</p>
            <div class="root_answer_toukou_boke"><%= i.answer %></div></div>

            <%end%>

            <%end%>
        </div>

        <div class="reds">
          <p class="red">新着のボケ</p>

          <% @answer.each do |i|%>
          <% if i.theme.image? %>

          <div class="root_toukou_image_set"><%= image_tag  i.theme.image, class: "root_toukou_image" %>

            <p class="root_answer_toukou_user">ボケ投稿者:<%= i.user.name %>っち|お題投稿者:<%= i.theme.user.name%>っち</p>
            <div class="root_answer_toukou_boke"><%= i.answer %></div></div>

            <%end%>

            <%end%>

          </div>
        </div>

      </div>

      <%= link_to root_path do %>
      <%= image_tag "gazou.png", class: "gazous" %>
      <% end %>

      <%= link_to root_path do %>
      <%= image_tag "gazou2.png", class: "gazouss" %>
      <% end %>


    </div>
    <footer>
      <p class="footer">Copyright(C) boketemasun.</p>
    </footer>
  </div>
