<div class="body">
<div class="content">
<div class="nav_bar">
<ul class="nav_bars">
  <li class="user_nav"><%=link_to'プロフィール' ,root_path,class:"navz"%></li>
    <li><%=link_to'投稿ボケ' ,root_path,class:"navz"%></li>
  <li><%=link_to'投稿お題' ,root_path,class:"navz"%></li>
  <li><%=link_to'お気に入り職人' ,root_path,class:"navz"%></li>
  <li><%=link_to'ボケコレ' ,root_path,class:"navz"%></li>
</ul>
</div>
<div class="content2">
<div class="popular">
</div>
<div class="kara">
</div>
<div clss="content3">
<div class="reds">


</div>
</div>

</div>

<%= link_to root_path do %>
  <%= image_tag "gazou.png", class: "gazous" %>
<% end %>

<%= link_to root_path do %>
  <%= image_tag "gazou2.png", class: "gazouss" %>
<% end %>


</div>
   <footer>
      <p class="footer">Copyright(C) boketemasun.</p>
    </footer>
</div>