<div class="body">
  <div class="content">
    <div class="nav_bar">
      <ul class="nav_bars">
        <li class="nav_bars1"><%=link_to'トップ' ,root_path,class:"navz"%></li>
        <li class="nav_bars1"><%=link_to'注目' ,root_path,class:"navz"%></li>
        <li class="nav_bars1"><%=link_to'人気' ,root_path,class:"navz"%></li>
        <li class="nav_bars1"><%=link_to'コラボ' ,root_path,class:"navz"%></li>
        <li class="nav_bars1"><%=link_to'セレクト' ,root_path,class:"navz"%></li>
        <li class="nav_bars1"><%=link_to'お題投稿' ,photo_index_path,class:"navz"%></li>
      </ul>
    </div>
    <div class="new_content">
      <p class="red">新着のボケ</p>
      <% @answer.each do |i|%>
      <% if i.theme.image? %>
      <p class="toukou_image_set"><%= image_tag  i.theme.image, class: "toukou_image" %></p>
      <p class="answer_toukou_user">ボケ投稿者:<%= i.user.name %>|お題投稿者:<%= i.theme.user.name%></p>
      <p class="answer_toukou_boke"><%= i.answer %></p>
      <div class="p_like"> <%= render :partial => "like" , locals: { answer: i , like:@like }%></div>
      <div class ="p_bad"><%= render :partial => "bad" , locals: { answer: i , bad:@bad }%></div>
      <p class="answer_toukou_user_border">
        <%end%>
        <%end%>
      </div>
      <div class="new_rank">
        <h1>なんでやねん！！ ユーザーランキング</h1>
        <h2> <i class="fa fa-check-circle-o" aria-hidden="true"></i>要注意ユーザー<span><i class="fa fa-thumbs-o-down""></i></span></h2>
        <% @bad_count.each.with_index do |bad, i| %>
        <%= i +1 %>位
        <%=  User.find(bad[0]).name%> <span>さん</span>
        <%= bad[1] %> <span>なんでやねん!!</span><br>
        <% end%>
      </div>
      <%= link_to root_path do %>
      <%= image_tag "gazou.png", class: "new_gazous" %>
      <% end %>
      <%= link_to root_path do %>
      <%= image_tag "gazou2.png", class: "new_gazouss" %>
      <% end %>
    </div>
    <footer>
      <p class="footer">Copyright(C) boketemasun.</p>
    </footer>
  </div>
</div>