<div class="body">
  <div class="content">
    <div class="nav_bar">
      <ul class="nav_bars">
      </div>
      <div class="content_sign_up">

        <div class="popular">
        </div>
        <div class="kara">
        </div>
        <div clss="content3">


         <p class="red">ボケてにログイン</p>

         <div class="content_sign_ups">

         <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class="user_set_bolder"></div>

          <div class="field">
            <%= f.label :メールアドレス,class:"user_set" %><br />
            <%= f.email_field :email, autofocus: true ,class:"user_set_text"%>
          </div>

          <div class="field">
            <%= f.label :パスワード ,class:"user_set"%>
           <br />
            <%= f.password_field :password, autocomplete: "off",class:"user_set_text" %>
          </div>


          <div>
            <%= f.submit "ログイン", class:"user_set_btn" %>
          </div>
          <% end %>

        </div>

        <p class="login_info">ボケてのアカウントをまだ取得していない方は新規登録から新しく登録をお願いします。<br>登録・利用ともに完全無料です。</p>

      </div>

    </div>

  </div>
  <footer>
    <p class="footer">Copyright(C) boketemasun.</p>
  </footer>
</div>