<!DOCTYPE html>
<html>
<head>
  <title>Boketes</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <%= favicon_link_tag "fa.png" %>
</head>
<header class="header">


  <%= link_to root_path do %>
  <%= image_tag "logo.png", class: "logo" %>
  <% end %>


  <div class="nav">
    <ul class="navs">
      <li class="nav"><%=link_to'ボケ' ,answers_path, class:"navz"%></li>
      <li class="nav"><%=link_to'お題' ,themes_path, class:"navz"%></li>
      <li class="nav"><%=link_to'職人' ,'/', class:"navz"%></li>
    </ul>
  </div>

  <div class="nav__user">
    <ul class="nav__users">

      <% if user_signed_in? %>
      <%= image_tag "user.png", class: "user_image" %>
      <li class="nav__user">
        <%=link_to current_user.name , new_user_registration_path,class:"navz"%></li>
        <li class="nav__user"><%=link_to'マイページ' ,"/users/#{current_user.id}",class:"navz"%></li>
        <% end%>

        <% unless user_signed_in?%>
         <li class="nav__user"><%=link_to'新規登録' ,new_user_registration_path,class:"navz"%></li>
        <li class="nav__user"><%=link_to'ログイン' ,user_session_path,class:"navz"%></li>
        <%end%>
        <li class="nav__user"><%=link_to'ヘルプ' ,'/',class:"navz"%></li>

      </ul>
    </div>
  </header>

  <body>
    <%= yield %>
  </body>
  </html>
